body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
}

.bold {
  font-weight: 700;
  color: white;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:  300px;
  max-height: 400px;
  background-color: var(--color-grass);
  border-radius: var(--spacing-small);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);
}

.card__header {
  margin-top: var(--spacing-base);
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-base) var(--spacing-small) 0 var(--spacing-small);
}

.card__name {
  font-size: var(--font-size-big);
  line-height: var(--line-height-big);
}

.card__number {
  font-size: var(--font-size-small);
  line-height: var(--line-height-big);
}

.card__image {
  min-width: 150px;
  margin: auto;
  position: relative;
  top: var(--spacing-mini);
  z-index: 1;
}

.card__content {
  /* TODO: flex? with position? */
  position: relative; /*FIXME */
  width:  290px;
  height: 240px;
  margin-left:   var(--spacing-xtiny);
  margin-right:  var(--spacing-xtiny);
  margin-bottom: var(--spacing-xtiny);
  background-color: var(--color-white);
  border-radius: var(--spacing-small);
}

.card__tags {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-mini);
}

/*TODO: can this be extracted as .bg-$type { background-color: var(--color-$type); } ? */

.bg-grass {
    background-color: var(--color-grass);
}

.bg-poisson {
    background-color: var(--color-poisson);
}

.card__tag + .card__tag {
  margin-left: var(--spacing-mini);
}

.card__tag {
  display: flex;
  padding: 2px var(--spacing-small);
  font-size: var(--font-size-tiny);
  border-radius: var(--spacing-tiny);
}

.card__about {
  color: var(--color-grass);
  text-decoration: none;
}

.card__measures {
  display: flex;
  justify-content: space-evenly;
}

.card__measure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: var(--spacing-mini);
}

/*TODO: measure line separator */

.measure__data {
  display: flex;
  padding: var(--spacing-mini);
}

.measure__value {
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-medium);
  padding-left: var(--spacing-tiny);
}

.measure__name {
  font-size: var(--font-size-xtiny);
  color: var(--color-medium-gray);
}

.card__description {
  font-size: var(--font-size-tiny);
  line-height: var(--line-height-medium);
  text-align: justify;
  margin-left:   var(--spacing-base);
  margin-right:  var(--spacing-base);
  margin-bottom: var(--spacing-xtiny);
}
