
:root {
  /* Spacing: */
  --spacing-xtiny: 4px;
  --spacing-tiny: 8px;
  --spacing-small: 12px;
  --spacing-mini: 16px;
  --spacing-base: 24px;
  --spacing-medium: 32px;
  --spacing-large: 48px;

  /* Colors: */
  --color-background: #f7f7f7;
  --color-white: #ffffff;
  --color-grass: #74cb48;
  --color-poisson: #a43e9e;

  --color-dark-gray: #212121;
  --color-medium-gray: #666666;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
}

.bold {
  font-weight: 700;
  color: white;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width:  300px;
  max-height: 400px;
  background-color: var(--color-grass);
  border-radius: var(--spacing-small);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.19);
}

.card__header {
  margin-top: var(--spacing-base);
  display: flex;
  justify-content: space-evenly;
}

.card__name {
  font-size: 24px;
  line-height: 32px;
}

.card__number {
  font-size: 12px;
  line-height: 32px;
}

.card__image {
  margin: auto;
  position: relative;
  top: 50px;
  z-index: 1;
}

.card__content {
  /* TODO: flex? with position? */
  padding: 50px 0 0 0;
  position: relative;
  width:  290px;
  height: 240px;
  margin-left:   var(--spacing-xtiny);
  margin-right:  var(--spacing-xtiny);
  margin-bottom: var(--spacing-xtiny);
  background-color: var(--color-white);
  border-radius: var(--spacing-small);
}

.card__tags {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-mini);
}

/*TODO: can this be extracted as .bg-$type { background-color: var(--color-$type); } ? */

.bg-grass {
    background-color: var(--color-grass);
}

.bg-poisson {
    background-color: var(--color-poisson);
}

.card__tag + .card__tag {
  margin-left: var(--spacing-mini);
}

.card__tag {
  display: flex;
  padding: 2px var(--spacing-small);
  font-size: 10px;
  border-radius: var(--spacing-tiny);
}

.card__about {
  color: var(--color-grass);
  text-decoration: none;
}

.card__measures {
  display: flex;
  justify-content: space-evenly;
}

.card__measure {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: var(--spacing-mini);
}

/*TODO: measure line separator */

.measure__data {
  display: flex;
  padding: var(--spacing-mini);
}

.measure__value {
  font-size: 10px;
  line-height: 16px;
  padding-left: var(--spacing-tiny);
}

.measure__name {
  font-size: 8px;
  color: var(--color-medium-gray);
}

.card__description {
  font-size: 10px;
  line-height: 16px;
  text-align: justify;
  margin-left:   var(--spacing-base);
  margin-right:  var(--spacing-base);
  margin-bottom: var(--spacing-xtiny);
}
